

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

 /* LAYOUT STYLING!!! 
 ==============================================================================
 */

body {
    background-color: #F1F2F6;
    
}

.main-wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    height: 100dvh;
}

.main-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.form-wrapper {
    width: 60%;
    margin: 0 auto;
}

.form-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2em;
}

footer {
    max-width: 1220px;
    min-width: 90%;
    align-self: center;
    text-align: center;
    border-top: 1px solid grey;
}

.footer-flex {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 5px;
    padding-top: 1.5rem;
}





 /* COSMETIC STYLING!!!!
 ==========================================================
  */


.homepage-logo {
    font-size: 	1.5rem;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

.input-auth {
    border-style: none;
    padding: 0.9em;
    width: 400px;
    border-radius: 0.3em;
}

::placeholder {
    font-size: 1rem;
    font-weight: 500;
    color: #5f5d5d;  
}

.button-auth {
    color: white;
    background-color: #FF8600;
    font-size: 1rem;
    font-weight: 500;
    border-style: none;
    width: 400px;
    border-radius: 0.3em;
    padding: 0.75em;
}

.link-auth {
    color:#FF8600;
}

.link-footer {
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
}
